{% extends 'base.html.twig' %}

{% block title %}Liste BD - Le Libraire
{% endblock %}

{% block body %}
	<style>
    body{
        background-color: #1E2125;
    }
	h1{
		padding-top: 50px;
		background: -webkit-linear-gradient(rgba(225, 0, 255),rgba(127, 0, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
		text-align: center;
	}
	</style>

<div class="exemple-wrap">
	<h1>La liste des BD:</h1>
</div>
{% endblock %}
